<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Home</h1>
    <h2>Hola <%= username %>!</h2>
    <h2>Aquest contingut esta protegit</h2>
    <ul>
        <li><a href="/recursos">Llistat de Recursos</a></li>
        <li><a href="/reserves">Llistat de Reserves</a></li>
    </ul>
</body>

</html>